body {
    font-family: "Source Sans Pro", sans-serif;
    color: #808080;
}
h1 {
    color: rgb(230,116,137);
}
h2 {
    text-align: center;
}
form {
    text-align: center;

}
.block {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.flags {
    border: 2px solid grey;
    border-radius: 35px;
    padding: 20px 25px 20px 20px;
    
}
.input {
    visibility: hidden;
}
button {
    width: 80%;
    height: 30px;
    margin: 20px;
    color: white;
    background-color: rgb(230, 116, 137);
    border: none;
    outline: none;
}
.flags:after {
    content: "\2714";
    opacity: 0;
    padding: 5px
}
.input:checked + label {
    background-color: rgb(32, 41, 79);
    color: white
}
.input:checked + .flags:after {
    opacity: 1;
}
/*.text {
    border:none;
    outline: none;
    left: -100px;
    box-shadow: 1px 1px 10px 1px  grey;
}*/
.vod {
    display: flex;
}
.vod > input {
    flex-grow: 1;
    border: none;
    outline: none;
    color: grey;
    border-bottom: 1px solid gainsboro;
    margin-left: 10%; 
    margin-right: 10%;
}
